name: Pipeline de Testes Cypress

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  test:
    name: Pipeline de Testes Cypress
    runs-on: ubuntu-latest

    steps:
      - name: Checkout do código
        uses: actions/checkout@v2

      - name: Configurar o Node.js
        uses: actions/setup-node@v2
        with:
          node-version: 14

      - name: Instalar as dependências
        run: npm install

      - name: Executar os testes
        run: npx cypress run

      - name: Notify Slack
        uses: slack/github-action@4.3.0
        env:
          SLACK_WEBHOOK: https://hooks.slack.com/services/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
          SLACK_CHANNEL: "#testes-boot-automacao" # Substitua pelo canal desejado
          SLACK_TITLE: "Notificação de Testes"
          SLACK_MESSAGE: "Os testes foram executados com sucesso!"
