name: Testes do Cypress

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  test:
    name: Testes do Cypress
    runs-on: ubuntu-latest

    steps:
      - name: Checkout do código
        uses: actions/checkout@v2

      - name: Configurar o Node.js
        uses: actions/setup-node@v2
        with:
          node-version: 14

      - name: Instalar as dependências
        run: npm ci

      - name: Executar os testes
        run: npx cypress run
