name: Notifier

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:

  messageSlack:
    runs-on: ubuntu-latest
    steps:
    - name: Notification Slack
      uses: rtCamp/action-slack-notify@v2
      env:
        SLACK_CHANNEL: testes-boot-automacao
        SLACK_TITLE: Automacao de API
        SLACK_USERNAME: BotCI-Samuel
        SLACK_WEBHOOK: ${{ SLACK_WEBHOOK_URL https://hooks.slack.com/services/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 }}
        SLACK_MESSAGE: "Testes sendo rodados"