name: Testes e Notificação Slack

on:
  push:
    branches:
      - master # Substitua "main" pela branch desejada

jobs:
  testes:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup Node.js
        uses: actions/setup-node@v2
        with:
          node-version: 14

      - name: Install Dependencies
        run: npm install

      - name: Run Tests
        run: npx cypress run # Comando para executar seus testes

      - name: Notify Slack
        uses: rtCamp/action-slack-notify@v3
        with:
          status: ${{ job.status }}
          fields: tests # Campos adicionais a serem exibidos
          slack_webhook_url: https://hooks.slack.com/services/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