name: Notificação Slack

on:
  push:
    branches:
      - master # Substitua "main" pela branch desejada

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      # ... etapas adicionais do seu pipeline de testes ...

      - name: Send Slack notification
        run: |
          curl -X POST -H 'Content-type: application/json' --data '{"text":"Seus testes foram executados com sucesso!"}' https://hooks.slack.com/services/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
