name: Notifier

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:

  messageSlack:
    runs-on: ubuntu-latest
    steps:
    - name: Notification Slack
      uses: rtCamp/action-slack-notify@v2
      env:
        SLACK_CHANNEL: testes-boot-automacao
        SLACK_TITLE: Automacao de API
        SLACK_USERNAME: BotCI-Samuel
        slack_webhook_url: https://hooks.slack.com/services/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
        SLACK_MESSAGE: "Testes sendo rodados"