name: Testes e Notificação Slack

on:
  push:
    branches:
      - master # Substitua "main" pela branch desejada
jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      # ... etapas adicionais do seu pipeline de testes ...

      - name: Send Slack notification
        uses: slack/webhook@v3
        env:
          SLACK_WEBHOOK_URL: https://hooks.slack.com/services/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
        with:
          payload: '{
            "text": "Seus testes foram executados com sucesso!"
          }'